<div class="row row-cols-1">
  <div class="col bg-light border">
    <h3 class="mt-3 mb-5">Wholesale Investment Options</h3>
    <p>
      These Funds are available to eligible wholesale investors. If you are
      unsure or to confirm your eligibility to invest, please contact Regal
      Funds Management on +61 2 8197 4333 or via
      <a href="mailto:investorrelations@regalfm.com" class="link-info"
        >investorrelations&#64;regalfm.com</a
      >. If you are a retail investor, please see the ASX-listed vehicles
      managed by Regal
      <a
        href="https://regalfm.com/strategies/asx-listed-investments"
        target="_blank"
        rel="noopener noreferrer"
        class="link-info"
        >here</a
      >.
    </p>
  </div>
</div>

<app-sec-body />
