<div class="row row-cols-1 row-cols-md-2">
  <div class="col-sm-6 bg-light border p-3">
    <a
      href="https://boardroomlimited.com.au/regal/start/546E67A2729C48E4B465816AC3B7C1C2"
      class=""
      target="_blank"
      rel="noopener noreferrer"
    >
      Regal Australian Small Companies Fund
    </a>
  </div>

  <div class="col-sm-6 bg-light border p-3">
    <a
      href="https://boardroomlimited.com.au/regal/start/7714040C6CE8418C8F257FC914B2B9BD"
      class=""
      target="_blank"
      rel="noopener noreferrer"
    >
      Regal Australian Long Short Equity Fund
    </a>
  </div>
</div>

<div class="row row-cols-1">
  <div class="col-sm-6 bg-light border p-3">
    <a
      href="https://boardroomlimited.com.au/regal/start/2E4EE7D8FA8C4CC48FD4F9E517445A27"
      class=""
      target="_blank"
      rel="noopener noreferrer"
    >
      Regal Emerging Companies Opportunities Fund
    </a>
  </div>

  <div class="col-sm-6 bg-light border p-3">
    <a
      href="https://boardroomlimited.com.au/regal/start/64A5B34F714644E682255B28EC3A7D65"
      class=""
      target="_blank"
      rel="noopener noreferrer"
    >
      Regal Tasman Market Neutral Fund
    </a>
  </div>
</div>

<div class="row row-cols-1">
  <div class="col-sm-6 bg-light border p-3">
    <a
      href="https://boardroomlimited.com.au/regal/start/4C2C848FC8F8453DA45487C95BDBB764"
      class=""
      target="_blank"
      rel="noopener noreferrer"
    >
      Regal Atlantic Absolute Return Fund
    </a>
  </div>

  <div class="col-sm-6 bg-light border p-3">
    <a
      href="https://www.regalfm.com/site/regal-tactical-opportunities-fund-investor"
      class=""
      target="_blank"
      rel="noopener noreferrer"
    >
      Regal Tactical Opportunities Fund
    </a>
  </div>
</div>

<div class="row row-cols-1">
  <div class="col-sm-6 bg-light border p-3">
    <a
      href="https://www.regalfm.com/site/regal-resources-long-short-fund-investor"
      class=""
      target="_blank"
      rel="noopener noreferrer"
    >
      Regal Resources Long Short Fund
    </a>
  </div>

  <div class="col-sm-6 bg-light border p-3">
    <a
      href="https://boardroomlimited.com.au/regal/start/CD4E34BD80D24A6DB02A97CC97D776E1"
      class=""
      target="_blank"
      rel="noopener noreferrer"
    >
      Regal Private Credit Opportunities
    </a>
  </div>
</div>

<div class="row row-cols-1">
  <div class="col-sm-6 bg-light border p-3">
    <a
      href="https://boardroomlimited.com.au/regal/start/72BE32F48F1144E287F78C7BB864DCD9"
      class=""
      target="_blank"
      rel="noopener noreferrer"
    >
      Regal Resources Royalties Fund
    </a>
  </div>

  <div class="col-sm-6 bg-light border p-3">
    <a
      href="https://boardroomlimited.com.au/regal/start/D3919B6EBD39493FB5594923605F2B0F"
      class=""
      target="_blank"
      rel="noopener noreferrer"
    >
      Regal Resources High Conviction Fund
    </a>
  </div>
</div>

<div class="row row-cols-1">
  <div class="col bg-light border p-3">
    <a
      href="https://boardroomlimited.com.au/regal/start/F5465C2F31F8458F83D7BBC0CA36C173"
      class=""
      target="_blank"
      rel="noopener noreferrer"
    >
      Regal Partners Private Fund
    </a>
  </div>

  <!-- <div class="col-sm-6 bg-light border">
    <a href="" target="_blank" rel="noopener noreferrer"> &nbsp; </a>
  </div> -->
</div>
